{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="text-center"></div>

    <h1>I'm Jake!</h1>
    <p>my favorite acronym is LMFAOOOOO!!!!<p>
    <p><i>is that not school appropriate? my bad,,,<i><p>

    <img src="https://sm.ign.com/t/ign_nordic/review/u/untitled-g/untitled-goose-game-review_escc.1024.jpg" class="rounded w-50">
            
    </div>

</body>
</html>